{% extends "skeleton.html.twig" %}

{% block content %}

<form action="#">
    <div class="form-row">

        <div class="form-group col-md-6">
            <label for="mail">Email : </label>
            <input class="form-control" type="email" id="mail">
        </div>

        <div class="form-group col-md-6">
            <label for="password">Password : </label>
            <input class="form-control" type="password" id="password">
        </div>
  </div>
    <button class="btn btn-primary">Submit</button>

</form>


{% endblock content %}