{% extends "skeleton.html.twig" %}


{% block content %}

<form action="#">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Name : </label>
            <input class="form-control" type="text" id="name">
        </div>

        <div class="form-group col-md-6">
            <label for="surname">Surname : </label>
            <input class="form-control" type="text" id="surname">
        </div>

        <div class="form-group col-md-6">
            <label for="mail">Email : </label>
            <input class="form-control" type="email" id="mail">
        </div>

        <div class="form-group col-md-6">
            <label for="password">Password : </label>
            <input class="form-control" type="password" id="password">
        </div>
    

    <div class="form-group">
        <label for="birthdate">Birthdate : </label>
        <input class="form-control" type="DateTime" id="birthdate">
    </div>

    <div class="form-group">
        <label for="phone">Phone Number : </label>
        <input class="form-control" type="tel" id="phone">
    </div>
  </div>
    <button class="btn btn-primary">Submit</button>

</form>


{% endblock content %}