{% extends 'skeleton.html.twig' %}

{% block title %}
  New Article
{% endblock title %}

{% block body %}

  {{form_start(form)}}
  {{form_widget(form)}}
  <button class="btn btn-primary">Save/Update Article</button>
  {{form_end(form)}}

{% endblock body %}