{% extends 'skeleton.html.twig' %}

{% block title %}
    Article
{% endblock %}

{% block body %}

  {{form_start(form)}}
  {{form_widget(form)}}
  <a class="btn btn-danger" href="{{path('remove_article', {id:dog.id})}}">Remove Article</a>
  {{form_end(form)}}

{% endblock body %}
